* {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.main-font-style {
  font-size: 18px;
  line-height: 18px;
}

.main-font-style:hover {
  color: #f26522;
}

.page-body {
  background: url(../images/background.png) no-repeat;
  background-size: 100%;
  padding-left: 164px;
  padding-right: 177px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.logo-container {
  padding-top: 51px;
}

.logo-link {
  text-decoration: none;
}

.logo-icon {
  float: left;
  padding-right: 8px;
}

.logo-milan-name {
  float: left;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  text-transform: uppercase;
}

.logo-holidays-name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
}

.logo-link:hover .logo-milan-name {
  color: #f26522;
}

.logo-link:hover .logo-holidays-name {
  color: #f26522;
}

.logo-link:hover .logo-icon-path {
  fill: #f26522;
}

.email {
  padding-top: 46px;
  display: block;
  text-decoration: none;
  text-align: right;
}

.phone {
  display: block;
  text-decoration: none;
  padding-top: 19px;
  text-align: right;
}

.copyright {
  font-size: 12px;
  line-height: 12px;
  padding-top: 49px;
  padding-bottom: 15px;
  text-align: center;
}

.tours-block {
  display: grid;
  grid-column-gap: 62px;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 37px;
}

.tours-card-item {
  position: relative;
}

.tours-card-item-link {
  text-decoration: none;
}

.img-container {
  position: relative;
}

.tours-card-item-img {
  max-width: 100%;
  width: 100%;
}

.card-item-paragraph {
  padding-top: 20px;
  text-align: center;
}

.more-details-block {
  visibility: hidden;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 55px;
  background-color: #f26522;
  display: flex;
  justify-content: space-between;
}

.left-side {
  padding-left: 16px;
  padding-top: 7px;
}

.from-label {
  font-size: 10px;
  line-height: 10px;
}

.price-label {
  padding-top: 8px;
  font-size: 20px;
  line-height: 20px;
}

.view-details-label {
  font-size: 14px;
  line-height: 14px;
  padding-top: 23px;
}

.right-side {
  padding-right: 16px;
}

.arrow {
  display: inline-block;
  padding: 0px 16px 0px 0px;
  text-decoration: none;
}

.arrow:before,
.arrow:after {
  border-right: 1px solid;
  content: "";
  height: 10px;
  margin-top: -6px;
  position: absolute;
  transform: rotate(135deg);
  right: 14px;
  top: 50%;
  width: 0;
}

.arrow:after {
  margin-top: 0;
  transform: rotate(45deg);
}

.tours-card-item:hover .card-item-paragraph {
  color: #f26522;
}

.tours-card-item:hover .more-details-block {
  visibility: visible;
}
