.navbar {
  overflow: hidden;
  background-color: #333;
  width:1200px;
}

.router-link {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.router-link--active {
  background-color: #0ec4ba;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

li {
  display: inline-block;
}
