.footer {
  background-color: $black;
  padding-top: 38px;
  margin-top: 40px;
}

.footer-title {
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
}

.white-color {
  background-color: $white;
}

.footer-p-container {
  display: block;
}

.footer-p-container-additional-p {
  visibility: hidden;
  @media (min-width: 768px) {
    visibility: visible;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.footer-p-container {
  color: $blockParagraphColorBlackBcg;
  padding-top: 8px;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  @media (min-width: 768px) {
    padding-left: 118px;
    padding-right: 138px;
  }
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  @media (min-width: 768px) {
    padding-top: 37px;
  }
}

.btn-circle {
  display: block;
  height: 34px;
  width: 34px;
  border-radius: 30px;
  background: $black;
  margin-left: 3px;
  padding-right: 3px;
}

.rss {
  border: 2px solid #f8902e;
}

.fb {
  border: 2px solid #39599f;
}

.tw {
  border: 2px solid #45b0e3;
}

.dr {
  border: 2px solid #d97ab0;
}

.pt {
  border: 2px solid #cc212c;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 35px;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.contact-line {
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
}

.footer-contacts-p {
  color: $blockParagraphColorBlackBcg;
  font-size: 14px;
}
