.top-nav-item {
  color: $blockTitleColor;
  line-height: 22px;
  text-transform: uppercase;
  padding-left: 17px;
  padding-right: 17px;
}

.top-nav-item.active {
  color: $accent;
}

.topnav {
  padding-top: 41px;
  margin-bottom: 43px;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.menu-button {
  width: 44px;
  height: 37px;
  background: $black;
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

.menu-button-line {
  border: none;
  width: 17px;
  height: 2px;
  background: $white;
}

.mainImage {
  width:100%;
}