.line-decorator {
  border: none;
  height: 1.5px;
  width: 4px;
  float: left;
  margin-top: 5px;
  margin-right: 6px;
  margin-left: 6px;
}

.main-color {
  background-color: $blockTitleColor;
}

.posts-title {
  padding-top: 56px;
  color: $blockTitleColor;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.posts-item-container {
  @media (min-width: 768px) {
    display: flex;
  }
}

.posts-container {
  @media (min-width: 1200px) {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

.posts-item-container-expand-p {
  color: #5c5c5c;
  font-size: 14px;
  line-height: 26px;
  display: none;
  width: 404px;
  padding-top: 15px;
  @media (min-width: 768px) {
    display: block;
  }
}

.posts-item-container-img {
  margin-top: 28.5px;
}

.posts-item-container-p-container {
  margin-top: 12px;
  @media (min-width: 768px) {
    padding-left: 20px;
  }
}

.posts-item-container-title {
  font-weight: 700;
  margin-top: 21px;
  font-weight: bold;
  font-size: 14px;
  color: $blockTitleColor;
  @media (min-width: 768px) {
    margin-top: 35px;
    padding-left: 20px;
  }
}

.posts-item-container-p {
  color: $blockParagraphColorWhiteBcg;
}

.separator {
  margin-left: 9px;
  margin-right: 9px;
}