* {
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

.page-body {
  width: 1280px;
  margin: 0 auto;
}

.logo-container {
  padding-top: 61px;
}

.logo {
  font-size: 80px;
  line-height: 94px;
  text-decoration: none;
}

.logo-ra-part {
  color: #000000;
}

.logo-mda-part {
  color: #4acbff;
}

.top-nav-container {
  padding-top: 38px;
}

.top-nav {
  background: #35444f;
  display: flex;
  justify-content: center;
}

.top-nav-item {
  border-right: 1px solid #bbb;
}

/* последний элемент без вертикальной полоски */
.top-nav-item:last-child {
  border-right: none;
}

/* у первого элемента есть вертикальная полоска слева */
.top-nav-item:first-child {
  border-left: 1px solid #bbb;
}

.top-nav-item-link {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  display: block;
  padding: 36px 50px;
  text-decoration: none;
}

.top-nav-item-link:hover {
  background-color: #222f3a;
}

.main-body-container {
  justify-content: start;
  padding-top: 50px;
  display: flex;
}

.aside-main {
  width: 350px;
  border: 1px solid #000000;
  display: table;
}

.right-nav-item {
  padding: 26px 44px;
}

.right-nav-item:hover {
  background: #dbdbdb;
  text-indent: 20px;
}

.right-nav-item-link {
  display: block;
  text-decoration: none;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
}

.right-nav-item-link:hover {
  color: #35444f;
}

.article-main {
  padding-left: 52px;
}

.article-img-container {
  height: 529px;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
}

.img-main {
  width: 100%;
  transition: 1s;
}

.img-main:hover {
  transform: scale(1.2);
}

/* для первого параграфа отступ 37 - 34 верхний отступ для любого -> здесь указано 3 */
.article-main-content-container {
  padding-top: 3px;
}

.article-main-content-container p {
  padding-top: 34px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  text-align: justify;
}

.footer-main {
  padding-top: 54px;
}

.bottom-nav {
  display: flex;
  background: rgba(99, 105, 110, 0.48);
  padding-left: 40px;
}

/* 26.5 = ( 69 (footer height) - 8 (distance from bottom-border-line) ) / 2 */
.bottom-nav-item-link {
  font-size: 28px;
  justify-content: start;
  line-height: 28px;
  color: #0c1927;
  text-decoration: none;
  display: block;
  padding: 26.5px 8px;
}

.bottom-nav-item-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}

.copyright-container {
  font-size: 24px;
  line-height: 24px;
  padding: 34.5px 0px 34.5px 82px;
  color: #010101;
  width: 312px;
}
