.password-form {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  position: relative;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
}

.input-wrapper input {
  min-width: 120px;
  padding: 10px;
  margin-bottom: 24px;
}

.input-wrapper i {
  position: absolute;
  right: 10px;
  top: 12px;
  color: grey;
}

.btn {
  width: 150px;
}

.error {
  color: red;
  padding-bottom: 10px;
}

.popup {
  margin: -8px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  width: 100%;
  height: 2000px;
  overflow: hidden;
  position: fixed;
}

.popup-content {
  margin: 40px auto 0px auto;
  width: 80px;
  height: 60px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 0px #000;
}
