body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.standart-btn {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 169px;
  height: 63px;
  color: #ffffff;
  border-radius: 4px;
  border-top: 5px solid white;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.standart-btn:focus {
  outline: none;
}

.custom-center {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bcg-container {
  background: url(../images/SectionsBackground/section1.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.img-overlay-advertisement {
  background: #000000;
  opacity: 0.78;
  margin-top: 91px;
  padding-bottom: 127px;
}

.page-header {
  background: rgba(94, 93, 88, 0.6);
  display: flex;
  height: 120px;
}

.logo {
  padding-left: 380px;
}

.top-nav {
  padding: 49px 0px 49px 305px;
}

.top-nav-item {
  display: inline;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-left: 10.9px;
  margin-right: 10.9px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.top-nav-item:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
  padding-bottom: 48px;
}

.search-icon {
  padding: 49px 0px 49px 10.9px;
  width: 21px;
  height: 21px;
}

.sentances-container-about-block {
  padding-top: 260px;
  padding-bottom: 134px;
  text-align: center;
}

.first-sentance-about-block {
  padding-bottom: 22px;
  color: #ffffff;
  font-size: 35px;
  text-transform: uppercase;
}

.special-letters-about-block {
  color: #18cfab;
}

.second-sentance-about-block {
  padding-bottom: 22px;
  font-size: 78px;
  color: #ffffff;
  text-transform: uppercase;
}

.third-sentance-about-block {
  font-size: 34px;
  font-weight: normal;
  color: #d4d4d4;
}

.buttons-container-about-block {
  padding-top: 134px;
  padding-bottom: 243px;
}

.explore-button {
  background: #18cfab;
}

.purchase-button {
  margin-left: 26px;
  background: #00cbf6;
}

.options-block {
  padding-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 377px;
}

.options-block-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.odd-container {
  background: #1c2a33;
}

.even-container {
  background: #18cfab;
}

.options-block-content {
  position: absolute;
  margin-top: 242px;
  font-size: 20px;
  text-transform: uppercase;
}

.odd-item-content {
  color: #18cfab;
}

.even-item-content {
  color: #ffffff;
}

.options-block-icon {
  padding-top: 100px;
}

.services-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-block {
  padding-top: 83px;
  font-size: 36px;
  color: #4e4e4e;
  font-weight: normal;
}

.horizontal-line {
  border: none;
  width: 79px;
  height: 1px;
  background: #18cfab;
}

.first-line-decorator {
  margin-top: 28px;
}

.second-line-decorator {
  margin-left: 13px;
}

.tabs-container-services-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.services-titles-tabs {
  display: flex;
  list-style: none;
}

.services-content-item-img {
  width: 192px;
  height: 139px;
}

.tabs-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  height: 72px;
  font-weight: normal;
  font-size: 16px;
  background: #f8fcfe;
  color: #717171;
}

.tabs-title:hover {
  border: 1.5px solid #18cfab;
}

.tabs-title.active {
  border: none;
  background: #18cfab;
  color: #ffffff;
}

.services-titles-tabs > li.active {
  position: relative;
}

.services-titles-tabs > li.active:after {
  content: "";
  border-top: 15px solid #18cfab;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  margin-top: 44%;
}

.services-content-tabs {
  width: 1170px;
  padding-top: 23px;
}

.services-content-tabs-item {
  display: grid;
  grid-template-columns: 190px 1fr;
}

.services-content-tabs-item-paragraph {
  font-weight: normal;
  padding-left: 15px;
  font-size: 14px;
  color: #777777;
  line-height: 24px;
}

.advertisement-block {
  background: url(../images/SectionsBackground/section2.jpg) no-repeat;
}

.advertisement-block-title {
  padding-top: 126px;
  font-size: 40px;
  text-transform: uppercase;
  color: #18cfab;
}

.advertisement-block-paragraph {
  padding-top: 35px;
  margin-bottom: 67px;

  font-weight: normal;
  font-size: 16px;
  color: #d8d8d8;
}

.work-block {
  padding-top: 12px;
  background: #e9edef;
  padding-bottom: 100px;
}

.work-titles-tabs {
  display: flex;
  list-style: none;
  margin-top: 69px;
  margin-bottom: 71px;
}

.tabs-title-work-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  height: 58px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #dadada;
  color: #717171;
}

.tabs-title-work-block.active {
  border: 1px solid #18cfab;
  color: #18cfab;
}

.images-container-work-block {
  display: grid;
  grid-template-rows: repeat(3, 206px);
  grid-template-columns: repeat(4, 285px);
}

.img-work-block {
  width: 100%;
  height: 100%;
}

.image-reverse-side-work-block {
  background: #e9edef;
  border-top: 3px solid #18cfab;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}

.round-btn {
  display: block;
  height: 40px;
  width: 40px;
  border: 1px solid #18cfab;
  border-radius: 30px;
}

.filled-btn {
  background-color: #18cfab;
  margin-left: 20px;
}

.round-btn:focus {
  outline: none;
}

.round-btns-container {
  padding-top: 48px;
  display: flex;
  flex-direction: row;
}

.h1-reverse-side-work-block {
  font-weight: normal;
  font-size: 14px;
  color: #18cfab;
  text-transform: uppercase;
  padding-top: 25px;
}

.p-reverse-side-work-block {
  font-size: 12px;
  color: #8a8a8a;
  font-weight: normal;
  font-weight: 300;
  padding-top: 12px;
}

.image-item-work-block:hover .image-reverse-side-work-block {
  visibility: visible;
}

.image-item-work-block:hover .img-work-block {
  display: none;
}

.load-more-work-block {
  border-top: none;
  background: #18cfab;
  margin-top: 70px;
}

.news-container {
  padding-top: 69px;
  padding-bottom: 129px;
  display: grid;
  grid-template-rows: repeat(2, 280px);
  grid-template-columns: repeat(4, 263px);
  grid-row-gap: 46px;
  grid-column-gap: 35px;
}

.news-block-item {
  position: relative;
}

.news-block-link {
  text-decoration: none;
}

.news-block-item:hover .news-block-title {
  color: #18cfab;
}

.news-block-item:hover .news-block-img-cover {
  background: #18cfab;
}

.news-block-img {
  height: 208px;
  width: 100%;
}

.news-block-title {
  line-height: 39px;
  font-size: 18px;
  color: #717171;
}

.vertical-line {
  border-left: 1px solid #777777;
  height: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.news-block-p {
  font-size: 14px;
  line-height: 40px;
  font-weight: normal;
  color: #777777;
}

.news-block-img-cover {
  width: 70px;
  height: 68px;
  background: #203e38;
  position: absolute;
  top: 0;
  right: 0;
}

.new-block-img-cover-p {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}

.testimonials-block {
  background: url(../images/SectionsBackground/section3.jpg) no-repeat;
  padding-top: 98px;
  background-size: cover;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-testimonials-block {
  font-size: 36px;
  color: #ffffff;
  font-weight: normal;
}

.footer-container {
  background: #22353F;
}

.footer-p {
  font-weight: normal;
  color: #AEAEAE;
  font-size: 14px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-a {
  color: #18CFAB;
  text-decoration: none;
}

.slider {
  width: 100%;
}

.quote-icon {
  padding-top: 68px;
  padding-bottom: 36px;
  width: 47px;
  height: 33px;
}

.slider-item {
  text-align: center;
  padding-right: 380px;
  padding-left: 380px;
  padding-bottom: 44px;
}


.slider-item-qoute {
  font-weight: normal;
  font-size: 16px;
  color: #BBBBBB;
  padding-bottom: 37px;
}

.slider-item-name {
  font-size: 16px;
  text-transform: uppercase;
  color: #18CFAB;
  padding-bottom: 18px;
}

.slider-item-job {
  font-size: 16px;
  font-weight: normal;
  color: #BBBBBB;
  padding-bottom: 38px;
}

.img-avatar {
  border: 10px solid #224a4a;
  border-radius: 50%;
  width: 166px;
  height: 166px;
}

.img-avatar-less {
  border: 5px solid #224a4a;
  border-radius: 50%;
  width: 58px;
  height: 58px;
}

.switch-block {
  display: flex;
  flex-direction: row;
  column-gap: 200px;
  width: 100px;
  align-items: center;
}


.slick-list {
	overflow: hidden;
}

.slick-track{
	display: flex;
	align-items: flex-start;
}

.sliderDots .slick-track{
	display: flex;
  align-items: flex-start;
  width:100px;
}

.slider {
  position: relative;
}

.slider .slick-arrow{
  background: rgba(0, 0, 0, 0.0001);
	border: 1px solid #BBBBBB;
	position: absolute;
	top: 100%;
	z-index: 10;
	width: 31px;
  height: 31px;	
}

.slider .slick-arrow.slick-prev{
	left: 720px;
	background: no-repeat center url('../images/left.png');
}

.slider .slick-arrow:hover {
  border-color: #18CFAB;

}
.slider .slick-arrow:focus {
  outline: none;
}

.slider .slick-arrow.slick-next{
	right: 720px;
	background: no-repeat center url('../images/right.png');
}


.sliderDots .slick-slider{
  
}

.sliderDots .slick-current {
  margin-top: -15px;
}
.sliderDots .slick-active {

}

.sliderDots .slick-initialized {
  height: 200px;
}