* {
  background-color: white;
  font-family: Montserrat;
  font-style: normal;
}

.header-main {
  margin: 20px;
}

.nav-menu {
  display: flex;
  justify-content: center;
}

.nav-menu-item {
  margin: 0px 50px;
  font-size: 18px;
  letter-spacing: 2.7px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff0000;
}

.img-main {
  width: 100%;
}

.article-title {
  margin: 48px 0;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  text-align: center;
  color: #373737;
}

.paragraph-main {
  margin: 20px 67.5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 64px 0px;
}

.button-main {
  width: 191px;
  height: 51px;
  background: #ff0000;
  border-radius: 4px;
  border-color: #ff0000;
  color: white;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.footer-container {
  margin: 64px 0;
}

.copyright {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  display: flex;
  justify-content: flex-end;
  margin-right: 105px;
}
