
.page-body {
  background: url(../images/background.png) no-repeat;
  background-size: cover;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

.page-body:hover {
  transition: 0.7s;
}

.page-header {
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.logo-container {
  padding-left: 79px;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.logo:hover {
  color: #3cb878;
}

.page-header-left {
  padding-right: 79px;
}

.icons-container {
  float: left;
  display: grid;
  column-gap: 27px;
  grid-template-columns: repeat(4, 1fr);
}

.vertical-line {
  padding-top: 3px;
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  height: 19px;
}

.icon-main:hover {
  fill: #3cb878;
  cursor: pointer;
}

.authorize-info-container {
  display: inline;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.authorize-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  cursor: pointer;
}

.authorize-link:hover {
  color: #3cb878;
}

.sign-up-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 54px;
  padding-bottom: 74px;
  margin: auto;
}

.sign-up-form {
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  width: 444px;
  margin: 0;
}

.form-content-container {
  padding: 31px 60px 38px 60px;
}

.first-line-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.form-title {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.log-in-link {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  padding-top: 2px;
}

.btns-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4px;
}

.btn {
  display: grid;
  height: 48px;
  grid-template-columns: 30% 1% 69%;
  border-radius: 4px;
  align-items: center;
  justify-items: center;
  border-style: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.facebook {
  background: #305db8;
}

.button-label {
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.vertical-line-btn {
  border-left: 1px solid #0a162f;
  opacity: 0.1;
  height: 28px;
}

.google {
  background: #df4a32;
}

.or-block {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding-top: 31px;
  grid-column-gap: 3px;
}

.or-label {
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}

.horizontal-line {
  border-bottom: 1px solid #0a162f;
  opacity: 0.1;
  height: 28px;
  margin-top: -13%;
}

.inputs-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 15px;
  padding-top: 14px;
}

.input-main-text {
  width: 100%;
  height: 46px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  color: #434343;
}

.input-main-text:focus {
  outline: none;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

.input-main-text {
  padding-left: 24px;
  font-size: 14px;
  line-height: 14px;
}

.input-main-text::placeholder {
  color: #bebebe;
}

.checkbox-container {
  padding-top: 12px;
  padding-bottom: 22px;
}

.input-main-checkbox {
  float: left;
}

.checkbox-label {
  font-size: 14px;
  line-height: 14px;
}

.terms-cond-link {
  text-decoration: none;
  color: #3cb878;
  padding-left: 5px;
}

.terms-cond-link:hover {
  text-decoration: underline;
}

.main-btn {
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  width: 100%;
  height: 46px;
  border-style: none;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
}

.main-btn:focus {
  outline: none;
}

.green-square {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #3cb878;
  margin-top: 29px;
}

.input-main-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.input-main-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.input-main-checkbox + label::before {
  content: "";
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
}

.input-main-checkbox:checked + label::before {
  background: url("../images/check.svg") no-repeat;
  background-size: cover;
}
