.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  border-radius: 4px;
  background: white;
  width: 40%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color:#e34234 ;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.header-container {
  border-radius: 4px;
  height: 50px;
  width: 100%;
  background: #B22222;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  padding-left: 30px;
  font-size: 24px;
  color: white;
  font-weight: 500;
}

.main-text {
    padding: 20px;
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.x-button {
  width: 30px;
}

.actions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}