.page-body {
  color: yellow;
  background-color: black;
}

.titles {
  position: absolute;
  text-align: justify;
  overflow: hidden;
  font-size: 400%;
  width: 18em;
  height: 40em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(20deg);
}

.center {
  text-align: center;
}

.titlecontent {
  position: absolute;
  animation: scroll 30s infinite;
}

@keyframes scroll {
  0% {
    top: 80%;
  }
  100% {
    top: -100%;
  }
}
