.product-container {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    border: 2px solid lightseagreen;
}

.product-image {
    padding-top: 40px;
    width:150px;
    height: 150px;
    
}

.actions-container {
    display: grid;
    grid-template-columns: 240px 100px;
    align-items: center;
}

.cross-container {
   margin-top: 40px;
  margin-left: 180px;
}