* {
  font-family: Open Sans, sans-serif;
  font-style: normal;
}

.page-header {
  background: #313131;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.logo {
  padding-left: 10px;
  padding-top: 10px;
}

.logo-icon {
  width: 60px;
  height: 60px;
}

.logo-text {
  vertical-align: top;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  margin-left: 27px;
}

.top-nav {
  padding: 28px 0px 26px 0px;
}

.top-nav-item {
  display: inline;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin-left: 17.5px;
  margin-right: 17.5px;
  text-transform: uppercase;
  color: #ffffff;
}

.top-nav-item:hover {
  color: #14b9d5;
}

.search-icon {
  background: #000000;
  padding: 27px 26px 25px 26px;
  width: 17px;
  height: 17px;
}

.latest-news-block {
  background-image: url(../images/header-bg.jpeg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest-news-block-title {
  padding-top: 164px;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
}

.latest-news-block-buttons {
  padding-top: 44px;
  padding-bottom: 74px;
}

.standart-btn {
  width: 170px;
  height: 55px;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  background: #14b9d5;
}

.subscribe-button {
  background: #89ca62;
  margin-right: 20px;
}

.best-articles-button {
  background: #14b9d5;
}

.most-popular-posts-block {
  padding-left: 370px;
  padding-right: 360px;
  background: #f2f2f2;
  padding-bottom: 72px;
  padding-top: 49px;
}

.most-popular-posts-block-title {
  padding-bottom: 52px;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
  text-align: center;
}

.set-of-cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.popular-posts-card {
  display: table;
  margin-left: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.popular-posts-card-paragraph {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  padding-top: 20px;
  padding-bottom: 22px;
  text-align: center;
}

.popular-clients-block {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding-top: 106px;
  background-image: url(../images/parallax-bg.jpeg);
}

.popular-clients-block-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-bottom: 87px;
}

.horizontal-line-decorator {
  background: #18b4cf;
  width: 60px;
  height: 3px;
  border-radius: 2px;
  border: none;
}

.popular-clients-block-logos {
  padding-bottom: 191px;
  justify-self: center;
}

.popular-clients-block-logos-item {
  display: inline;
  margin-right: 58px;
}

.top-rated-block {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(7, 1fr);
}

.top-rated-block-title {
  padding-top: 49px;
  padding-bottom: 52px;
  grid-column: 1 / 8;
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
}

.top-rated-block-img {
  max-width: 100%;
}

.hot-news-block {
  padding-left: 361px;
  padding-right: 373px;
  padding-bottom: 77px;
  display: grid;
  grid-row-gap: 44px;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr 35px 1fr 60px 1fr 35px 1fr;
}

.hot-news-block-title {
  padding-top: 48px;
  padding-bottom: 7px;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
  grid-column: 1 / 8;
  text-align: center;
}

.horizontal-with-full-desc-card {
  grid-column: span 5;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  padding-right: 24px;
}

.horizontal-card-description {
  padding-top: 41px;
}

.vertical-card-description {
  padding-top: 14px;
}

.horizontal-with-full-desc-card-img {
  float: left;
}

.hot-news-card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  padding-bottom: 15px;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.hot-news-card-paragraph {
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}

.short-card {
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.vertical-with-full-desc-card {
  grid-column: span 3;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.hot-news-card-title-padding {
  padding-right: 27px;
}

.hot-news-card-paragraph-padding {
  padding-right: 14px;
}

.footer-block {
  background: #000000;
  padding-left: 361px;
  padding-right: 373px;

  padding-top: 29px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rights {
  font-size: 13px;
  line-height: 13px;
  color: #FFFFFF;
  padding-bottom: 30px;
}

.logo-builder {
  justify-self: right;
}

.logo-builder-paragraph {
  float: right;
  text-transform: uppercase;
  color: #ffffff;
}