* {
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  color: #484848;
}

.main-body {
  background: #3a4965;
}

.main-table {
  margin: 22px 29px 32px 20px;
  border: 1px solid black;
  background: white;
}

table,
td,
th {
  border: 1px solid black;
}

.first-cell-first-p {
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
}

.second-cell-first-p {
  font-size: 30px;
  line-height: 28px;
  text-transform: uppercase;
}

.standart {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #ffffff;
  background: #89c331;
  text-transform: uppercase;
}

.ultimate {
  font-size: 30px;
  line-height: 28px;
  font-weight: bold;
  color: #ffffff;
  background: #f04a56;
  text-transform: uppercase;
}

.premium {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background: #20807C;
}
