button {
  border-radius: 4px;
  width: 200px;
  height: 46px;
  border-style: none;
  font-size: 16px;
  line-height: 16px;
  margin: 40px;
  cursor: pointer;
  color: white;
}

.main-btn:focus {
  outline: none;
}
